*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
li {
    list-style-type: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
}
#logoHeader {
    width: 150px;
    height: auto;
}
.divNav {
    width: 40%;
    
}
nav { 
    font-size: 14px;
    font-weight: 600;
    
}
nav ul {
    display: flex;
    justify-content: space-around;   
}

nav a {
    text-decoration: none;
    color: #777777;
}
.banner {
    display: flex;
}
.banner img {
    width: 100%;
    height: 235px;
}
.sectionEstilo {
    padding-top: 3%;
    padding-bottom: 5%;
    
}
.sectionEstilo p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 3%;
}
.divEstiloImagens {
   text-align: center;
   
}
#estiloImg1 {
    margin-right: 2%;
    padding-bottom: 5%;
}
#estiloImg2 {
    margin-left: 2%;
}
.sectionSapatos {
    background-color: #C2185B;
    padding-top: 3%;
    padding-bottom: 5%;
}
#p30 {
    font-size: 32px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3%;
}
.divSapatos {
    display: flex;
    justify-content: space-around;
    padding-left: 7%;
    padding-right: 7%;
}
.sapatos{
    background-color: #FFF;
}
.descricaoSapatos {
    padding: 4%;
    font-size: 16px;
}
.descricaoTitulo {
    font-weight: bold;
}
.sectionSandalias {
    padding-top: 7%;
}
.divSandalias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.divSandalias p {
    font-size: 32px;
    font-weight: bold;

}
.sandaliaColuna1 {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 2%;
}

#buttonDetalhes {
    width: 65%;
    height: 75px;
    font-size: 30px;
    background-color: #C2185B;
    color: #FFF;
    margin-top: 7%;
    margin-bottom: 3%;
}
#sandaliaImg1 {
    height: 663px;
    margin-top: 7%;
}
