*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
li {
    list-style-type: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}
#logoHeader {
    width: 150px;
    height: auto;
}
.divNav {
    width: 40%;
    
}
nav { 
    font-size: 14px;
    font-weight: 600;
    
}
nav ul {
    display: flex;
    justify-content: space-around;   
}

nav a {
    text-decoration: none;
    color: #777777;
}

/*MAIN*/
main {
    padding-top: 2vw;
    padding-bottom: 5vw;
    margin: 2vw 7vw;
}
#h2Formulario {
    font-size: 39px;
    color: rgba(87, 87, 87, 1);
    margin-left: 2vw;
}
.divMain {
    display: flex;
    padding-top: 2vw;
    padding-bottom: 2vw;

}
.divFormulario {
    width: 150vw;
    margin-right: 5vw;
    color: #777777;
    font-size: 20px;
    margin-left: 2vw;
}
.divInputsText div {
    margin: 1vw 0;
}
.divInputsText label {
    display: block;
    margin: 2px 0;
   
}
.divInputsText input {
    width: 100%;
    height: 1.4vw;
}
.disponibilidadeOpcoes {
    display: flex;
    margin-top: 0.5vw;;
}

.disponibilidadeOpcoes div {
    margin-right: 1vw;
    font-size: 16px;
}
.divRadios {
    margin-top: 1vw;
}
.melhorFormaOpcoes {
    display: flex;
    margin: 7px 0;
}
.melhorFormaOpcoes div {
    margin-right: 2.8vw;
    margin-bottom: 1vw;
}
.divTextArea {
    display: block;
}
.divTextArea div {
    margin-top: 5px;
}
.divTextArea textarea {
    width: 100%;
    height: 5vw;
    margin-bottom: 1vw;
}

.divArquivo input {
    margin-left: 1vw;
    width: 10vw;
    
}
.divFormulario button {
    width: 100%;
    background: #C2185B;
    color: #FFF;
    height: 33px;
    font-weight: bold;
    margin-top: 1vw;
}
.divTexto {
    padding-left: 2vw;
}

.divTexto p {
    font-size: 18px;
    margin-bottom: 2vw;
    line-height: 2vw;

}

/*FOOTER*/
footer {
    background-color: #C2185B;
    display: flex;
    padding: 3% 4%;
    justify-content: space-around;
    color: #FFF;
}
footer a {
    text-decoration: none;
    color: #FFF;
}
.footerLogo {
  padding-left: 5%;
  
}
.categorias, .institucional {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
}
.categorias {
    width: 10%;
}
.institucional {
    width: 50%;
}
.listaTitulos {
    font-weight: bold;
    padding-bottom: 5px;
}
.itemListaFooter {
    padding-bottom: 3px;
}

.itemListaFooter:hover {
    text-shadow: 0 0 3px rgb(255 255 255 / 50%), 0 0 5px rgb(255 255 255 / 50%);
}